/* styling for user profile */


.user-profile {
  height: 20em;
  width: 100%;
  margin-top: 5em;
  padding-top: 1.67em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #DDBFFF;
  background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
}


.user-profile h2 {
  margin: 0.4em;
}
