/* styling for desktop and tablet screen size */


/* adjust for desktop size */
@media only screen and (min-width: 1024px) {
  .header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 6em;
  }

  .user-profile {
    width: 45%;
    margin: 3.33em 2em;
  }

  main {
    width: 55%;
    margin: 3.33em;
  }
}


/* adjust for tablet size */
@media only screen and (max-width: 1024px) {
  nav {
    background-color: transparent;
    position: absolute;
  }

  .user-profile {
    margin-top: 0em;
    height: 20.83em;
    margin-bottom: 1.25em;
  }

  .user-profile img {
    margin-top: 2.5em;
  }
}
