/* adjust for desktop size */
@media only screen and (min-width: 1024px) {
  .header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 80px;
  }

  .user-profile {
    width: 45%;
    margin: 80px;
  }

  main {
    width: 55%;
    margin: 80px;
  }
}


/* adjust for tablet size */
@media only screen and (max-width: 1024px) {
  nav {
    background-color: transparent;
    position: absolute;
  }

  .user-profile {
    margin-top: 0px;
    height: 500px;
    margin-bottom: 30px;
  }

  .user-profile img {
    margin-top: 60px;
  }
}
