/* styling for nav bar */


nav {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  height: 5em;
  color: #FFFFFF;
  padding: 0em 1.5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}


.nav-left {
  padding-top: 0.75em;
  font-size: 1.67em;
}


.nav-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.25em;
}


.nav-right-top {
  font-family: 'Source Sans Pro', sans-serif;
  height: 2em;
  display: flex;
  align-items: flex-end;
}


.nav-right-bottom {
  color: red;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
