nav {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  height: 120px;
  color: #FFFFFF;
  padding-right: 1.5em;
  padding-left: 1.5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.nav-left {
  padding-top: 30px;
  font-size: 40px;
}

.nav-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
}

.nav-right-top {
  font-family: 'Source Sans Pro', sans-serif;
  height: 60px;
  display: flex;
  align-items: flex-end;
}

.nav-right-bottom {
  color: red;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
