/* styling for past tweets */


article {
  border-style: solid;
  margin-top: 2.08em;
}


article:hover {
  box-shadow: 0.21em 0.21em 0em grey;
}


.tweet-container {
  padding: 0.63em;
}


.past-tweet {
  width: 100%;
}


.past-tweet header {
  display: flex;
  justify-content: space-between;
  padding: 0em 0.21em;
}


.past-tweet header img {
  width: 2.08em;
  margin-right: 0.42em;
}


.past-tweet header div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.username {
  color: grey;
  display: flex;
  align-items: center;
}


.tweet {
  font-weight: bold;
  padding: 0.42em 0.42em 0 0.42em;
}


.past-tweet footer {
  border-top-style: solid;

}


.past-tweet footer {
  padding: 0.42em 0.42em 0em 0.42em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


small {
  font-weight: bold;
  font-size: 0.71em;
}


article i {
  padding: 0.21em 0em 0em 0.21em;
  color: #4056A1;
}


article i:hover {
  color: #DDBFFF;
}
